@model Drink

<section>
    <h3>@Model.Name</h3>
    <div>
        @Model.Description
    </div>
    <div>
        Price: @Model.Price
    </div>
    <div>
        
        <form method="post" asp-action="Create" asp-controller="Order">
            <input type="hidden" asp-for="Name" value="@Model.Name" />
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input class="btn btn-primary" type="submit" name="save" value="Order" />
        </form>
    </div>
</section>