@model bartender.ViewModels.DrinkIndexViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        @foreach (var drink in Model.Drinks)
        {
        <tr>
            <td>@drink.Id</td>
            <td>@drink.Name</td>  
            <td><a asp-action="Details" asp-route-id="@drink.Id">Details</a></td>
            <td>
                <form method="post" asp-action="Create" asp-controller="Order">
                    <input asp-for="Name" value="@drink.Name" />
                    <input asp-for="DrinkId" value="@drink.Id" />
                    <input type="submit" name="save" value="Save" />
                </form>
            </td>
            <td>
                <form asp-action="Delete" asp-controller="Drink" method="post">
                    <a asp-action="Edit" asp-controller="Drink" asp-route-Id="@drink.Id"> Edit </a>
                    <input type="hidden" name="Id" value="@drink.Id" />
                    <button type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
        }
    </table>

</body>
</html>